.review-item {
	width: 500px;
	height: 100px;
	border: 1px solid #2a414f;
	border-radius: 8px;
	margin-bottom: 10px;
	margin-top: 0;
	padding-top: 0;
	padding: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.img-name {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.img-name img {
	width: 98px;
	height: 98px;
	border-radius: 8px;
}
.icon {
	width: 20px;
	height: 20px;
	padding: 10px;
	background: rgba(235, 87, 87, 0.3);
	color: #eb5757;
	border-radius: 50%;
}
.item {
	padding: 0;
	margin: 5px;
}
.orange-p {
	color: orange;
}
